name: Release

on:
  push:
    tags:
      - 'v*'
  pull_request:
    types:
      - closed

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Auto Releaser
        uses: AmaseCocoa/auto-releaser@1.0.0
        with:
          mode: ${{ github.event_name == 'push' && 'pr' || 'release' }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          main_branch: main
